.example{
    margin: 50px;
    font-family: 'Literata', serif;
    font-size: 17px;
    width: 90%;
   
}

.title5{
    margin: 21px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;

}
.code{
    margin: 20px;

}

.code1{
    color: white;

}
.btnc{
    margin-left: 52px;
}