.feedback_form{
    /* border: solid 4px #20485A; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 310px;
    width: 614px;
    border-radius: 16px;
    background-color: #20485a1f;
    /* border-left: solid; */
    /* border-right: solid; */
    border-top: solid;
    border-bottom: solid;
    margin-bottom: 100px;
margin-top: 60px;
}
.feedd{
    width: 100px;
    height: 100px;
    margin-left: 9000px;
}
textarea {
    overflow: auto;
    resize: vertical;
    width: 460px;

    height: 146px;
}
.texta{
    display: flex;
    /* width: 781px; */
    width: 100%;

    margin-top: 10px;
    border-radius: 10px;
    background-color: #F9F9F9;
}
.dv-star-rating-star  i{
    font-size: 15px;
}
.submitbtn{
    float: right;
}
.feedbackform{
    margin: 18px;
}
