/* .form{
    display: flex;

}

.form1{
    width: 400px;
    padding: 5px;
}

.form2{
    width: 400px;
    padding: 5px;

} */
.btn-outline-info{
    margin-left: 5px;
    color: #5fbef6;
    border-color: #5fbef6;
}